# Database
DATABASE_URL="postgresql://facturly_user:mOvj5llMEsbPiwX21oMHWNmBl2sUBhSN@dpg-d5kmenggjchc73bkkf90-a/facturly"

# Auth
JWT_SECRET="facturly_secret_key_2026_safe"
JWT_EXPIRES_IN="7d"

# Server
PORT=3000
NODE_ENV="development"

# Storage
UPLOAD_PATH="uploads"
MAX_FILE_SIZE=2097152 # 2MB
