@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900 transition-colors duration-300;
}

.dark body {
  background-color: #030712 !important;
  color: #f9fafb !important;
}
